{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "@nuxtjs/eslint-config-typescript",
    "prettier",
    "prettier/vue",
    "plugin:prettier/recommended",
    "plugin:nuxt/recommended"
  ],
  "plugins": [
    "prettier"
  ],
  "ignorePatterns": ["src/types/graphql.d.ts", "src/graphql/types.ts"],
  "rules": {
    "import/order": "off",
    "import/named": "off",
    "camelcase": "off",
    "no-case-declarations": "off",
    "no-unused-vars": "off",
    "no-useless-constructor": "off",
    "vue/component-tags-order": "off",
    "@typescript-eslint/no-unused-vars": "off"
  }
}
