$light-100: #fafafa;
$light-200: #ebebeb;
$light-300: #dbdbdb;
$light-400: #c4c4c4;
$light-500: #b3b3b3;
$light-600: #969696;
$light-700: #858585;
$light-800: #6b6b6b;
$light-900: #575757;

$dark-100: #4d4d4d;
$dark-200: #474747;
$dark-300: #404040;
$dark-400: #3b3b3b;
$dark-500: #333333;
$dark-600: #2e2e2e;
$dark-700: #262626;
$dark-800: #1a1a1a;
$dark-900: #0d0d0d;

$primary-100: #faf5ff;
$primary-200: #ecd8fd;
$primary-300: #debdfa;
$primary-400: #c995f4;
$primary-500: #b87bea;
$primary-600: #9d59d4;
$primary-700: #8b47c2;
$primary-800: #703c9a;
$primary-900: #5a337a;

$primary-muted-100: #dcd2e4;
$primary-muted-200: #c6b6d3;
$primary-muted-300: #b49fc6;
$primary-muted-400: #997cb1;
$primary-muted-500: #8866a3;
$primary-muted-600: #6e5086;
$primary-muted-700: #59416c;
$primary-muted-800: #493659;
$primary-muted-900: #2f2239;

/* -------------------- */
/* code added by Asif */
/* -------------------- */

/* provided color code */
// $primary: #330066;
// $primary-light: #633095;
// $primary-dark: #12003b;

/* code from file */
$primary: #450e76;
$primary-light: #753da6;
$primary-dark: #170049;

/* provided color code */
// $secondary: #cccccc;

/* code from file */
$secondary: #eaeaea;
$secondary-light: #ffffff;
$secondary-dark: #b8b8b8;

$tertiary: #ffffff;

$create-list-btn-bg: #DFF7E1;
$create-list-btn-color: #93919D;